@model jScore3.Models.Klub

@{
    ViewBag.Title = @ViewData.Model.Nazwa;
}

<div class="jumbotron myjumbotron">
    <h2>@ViewData.Model.Nazwa</h2>
    <h4>Profil klubu</h4>
</div>

<div class="row">
    <div class="col-md-7">
        <h4>Klub</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nazwa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nazwa)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Adres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adres)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KodPocztowy)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Wojewodztwo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Wojewodztwo)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Barwy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Barwy)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.DataPowstania)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataPowstania)
            </dd>
            <hr />
        </dl>
    </div>
    <div class="col-md-5">
        <h4>Herb</h4>
        <hr/>
       
        @if (File.Exists(Server.MapPath("~/Images/Herby/" + Html.DisplayFor(model => model.Herb))))
        {
            <img src="~/Images/Herby/@Model.Herb" alt="" class="img-responsive img-thumbnail center-block img-herb" />
        }
        else
        {
            <img src="~/Images/noimage.jpg" alt="Brak zdjecia" class="img-responsive" />
        }
        
    </div>
</div>

@{
    IEnumerable<jScore3.Models.Zawodnik> zawodnicyy = Model.Zawodnicy;
    Html.RenderPartial("~/Views/Klubs/_Zawodnicyy.cshtml", zawodnicyy);
}

<div class="row">
    <div class="col-lg-12">
        <p>

            @if (User.IsInRole("Admin"))
            {
                <div class="pull-left">
                    @Html.ActionLink("Powrót do listy", "Index", null, null, new {@class = "btn btn-warning"})
                </div>
                <div class="pull-right">
                    @Html.ActionLink("Edytuj profil klubu", "Edit", null, new {id = Model.Id}, new {@class = "btn btn-info"})
                </div>
            }
            else
            {
                <div class="pull-left">
                    @Html.ActionLink("Powrót do listy", "Index", null, null, new {@class = "btn btn-warning"})
                </div>
            }
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@

        </p>
    </div>
</div>

