@model jScore3.Models.Zawodnik

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron myjumbotron">
    <h2>@ViewData.Model.Imie @ViewData.Model.Nazwisko</h2>
    <h4>Profil zawodnika</h4>
</div>


<div class="row">
    <div class="col-md-7">
        <h4>Szczegółowe informacje</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Aktualny klub
            </dt>

            <dd>
                <a href="@Url.Action("Details", "Klubs", new { Id=Model.Klub.Id})">@Html.DisplayFor(model => model.Klub.Nazwa)</a>
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Imie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imie)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nazwisko)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.KrajPochodzenia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KrajPochodzenia)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.DataUrodzenia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataUrodzenia)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Wzrost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Wzrost) cm
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Waga)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Waga) kg
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.NumerKoszulki)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumerKoszulki)
            </dd>
            <hr />
        </dl>
    </div>
    <div class="col-md-5">
        <h4>Zdjęcie</h4>
        <hr />

        @if (File.Exists(Server.MapPath("~/Images/Zawodnicy/" + Html.DisplayFor(model => model.Zdjecie))))
        {
            <img src="~/Images/Zawodnicy/@Model.Zdjecie" alt="" class="img-responsive img-thumbnail center-block" />
        }
        else
        {
            <img src="~/Images/noimage.jpg" alt="Brak zdjecia" class="img-responsive" />
        }

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>

            @if (User.IsInRole("Admin"))
            {
                <div class="pull-left">
                    @Html.ActionLink("Powrót do listy", "Index", null, null, new { @class = "btn btn-warning" })
                </div>
                <div class="pull-right">
                    @Html.ActionLink("Edytuj profil zawodnika", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Usuń profil zawodnika", "Delete", null, new { id = Model.Id }, new { @class = "btn btn-danger" })
                </div>
            }
            else
            {
                <div class="pull-left">
                    @Html.ActionLink("Powrót do listy", "Index", null, null, new { @class = "btn btn-warning" })
                </div>
            }
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@

        </p>
    </div>
</div>
